<!doctype html>
<html class="no-js" lang="en">


<!-- Mirrored from template.hasthemes.com/toro/toro/cart.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 09 Feb 2024 11:20:00 GMT -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>PFUME</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/user/assets/images/favicon.png">

    <!-- All CSS is here
	============================================ -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/user/assets/css/vendor/bootstrap.min.css">
    <!-- Icon Font CSS -->
    <link rel="stylesheet" href="/user/assets/css/vendor/font-awesome.css">
    <link rel="stylesheet" href="/user/assets/css/vendor/dlicon.css">
    <!-- Others CSS -->
    <link rel="stylesheet" href="/user/assets/css/plugins/owl-carousel.css">
    <link rel="stylesheet" href="/user/assets/css/plugins/slick.css">
    <link rel="stylesheet" href="/user/assets/css/plugins/magnific-popup.css">
    <link rel="stylesheet" href="/user/assets/css/plugins/jarallax.css">
    <link rel="stylesheet" href="/user/assets/css/plugins/easyzoom.css">
    <link rel="stylesheet" href="/user/assets/css/plugins/animate.css">
    <link rel="stylesheet" href="/user/assets/css/plugins/fullpage.css">
    <link rel="stylesheet" href="/user/assets/css/plugins/jquery-ui.css">
    <link rel="stylesheet" href="/user/assets/css/plugins/select2.min.css">
    <link rel="stylesheet" href="/user/assets/css/style.css">
    <style>
        .button-container {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 20px 0;
        }
    
        .button-container .btn {
            margin: 0 10px; /* Add spacing between buttons */
        }
    
        .thumbnail-img {
            width: 50px;
            height: 50px;
            object-fit: cover;
            border-radius: 4px;
            margin-right: 15px;
        }
    
        .spaced-product-name {
            padding-left: 10px;
        }
    
        .canceled {
            background-color: #f8d7da; /* Light red background */
            text-decoration: line-through; /* Strike-through the text */
        }
    
        .download-invoice-btn {
            padding: 10px 20px;
            font-size: 16px;
            font-weight: bold;
            background-color: black;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: all 0.3s ease;
        }
    
        .download-invoice-btn:hover {
            background-color: grey;
        }
    
        @media screen and (max-width: 768px) {
            .download-invoice-btn {
                font-size: 14px; /* Slightly smaller text on smaller screens */
                padding: 8px 16px;
            }
    
            .button-container {
                flex-direction: column; /* Stack buttons on smaller screens */
            }
    
            .button-container .btn {
                margin: 10px 0; /* Add spacing between stacked buttons */
            }
        }
    </style>

</head>

<body>

    <div class="main-wrapper">
        <header class="header-area section-padding-1">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-xl-2 col-lg-2">
                        <div class="logo logo-width">
                            <a href="index.html">
                                <img src="/user/assets/images/logo/logo.png" alt="logo">
                            </a>
                        </div>
                    </div>
                    <div class="col-xl-8 col-lg-8 d-flex justify-content-center position-static">
                        <div class="main-menu menu-lh-1 main-menu-padding-1">
                            <nav>
                                <ul>
                                    <li class="position-static"><a href="/user/home">Home </i></a>
                                    </li>
                                    <!-- <li><a href="#">Pages </i></a>
                                    </li> -->
                                    <li><a href="/user/shop">Shop </i></a>
                                    </li>
                                    <!-- <li><a href="shop-collection-1.html">Collections <i class="fa fa-angle-down"></i> </a>
                                        <ul class="sub-menu-width">
                                            <li><a href="shop-collection-1.html">Shop Collection 01</a></li>
                                            <li><a href="shop-collection-2.html">Shop Collection 02</a></li>
                                            <li><a href="shop-metro.html">Shop Metro Layout</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="blog.html">Blog <i class="fa fa-angle-down"></i></a>
                                        <ul class="sub-menu-width">
                                            <li><a href="blog.html">Blog Style 01</a></li>
                                            <li><a href="blog-2.html">Blog Style 02</a></li>
                                            <li><a href="blog-3.html">Blog Style 03</a></li>
                                            <li><a href="#">Single Posts <i class="fa fa-angle-right"></i></a>
                                                <ul class="lavel-menu">
                                                    <li><a href="blog-details.html">Single Post Style 01</a></li>
                                                    <li><a href="blog-details-2.html">Single Post Style 02</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a href="shop-instagram.html">Instagram Shop </a></li> -->
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-2">
                        <div class="header-right-wrap header-right-flex">
                            <div class="same-style header-wishlist">
                                <a href="/user/wishlist"><i class="fa fa-heart-o"></i></a>
                            </div>
                            <div class="same-style cart-wrap">
                                <a href="/user/cart">
                                    <i class="dlicon shopping_bag-20"></i>
                                    <span class="count-style"><%= cartItemNo%></span>
                                </a>
                            </div>
                            <div class="same-style header-search">
                                <a class="search-active" href="#">
                                    <i class="dlicon ui-1_zoom"></i>
                                </a>
                            </div>
                            <div class="same-style header-off-canvas">
                                <a class="header-aside-button" href="#">
                                    <i class="dlicon ui-3_menu-left"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="header-small-mobile section-padding-1">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-6">
                        <div class="mobile-logo logo-width">
                            <a href="index.html">
                                <img alt="" src="/user/assets/images/logo/logo.png">
                            </a>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="mobile-header-right-wrap">
                            <div class="header-right-wrap header-right-flex">
                                <div class="same-style header-wishlist">
                                    <a href="/user/wishlist"><i class="fa fa-heart-o"></i></a>
                                </div>
                                <div class="same-style cart-wrap">
                                    <a href="/user/cart">
                                        <i class="dlicon shopping_bag-20"></i>
                                        <span class="count-style"><%= cartItemNo%></span>
                                    </a>
                                </div>
                                <div class="same-style header-off-canvas">
                                    <a class="header-aside-button" href="#">
                                        <i class="dlicon ui-3_menu-left"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- search start -->
        <div class="search-content-wrap main-search-active">
            <a class="search-close"><i class="dlicon ui-1_simple-remove"></i></a>
            <div class="search-content">
                <p>Start typing and press Enter to search</p>
                <form class="search-form" action="#">
                    <input type="text" placeholder="Search">
                    <button class="button-search"><i class="dlicon ui-1_zoom"></i></button>
                </form>
            </div>
        </div>
        <!-- mini cart start -->
        <div class="sidebar-cart-active">
            <div class="sidebar-cart-all">
                <a class="cart-close" href="#"><i class="dlicon ui-1_simple-remove"></i></a>
                <div class="cart-content">
                    <h3>Shopping Cart</h3>
                    <ul>
                        <li class="single-product-cart">
                            <div class="cart-img">
                                <a href="#"><img src="/user/assets/images/cart/cart-1.jpg" alt=""></a>
                            </div>
                            <div class="cart-title">
                                <h4><a href="#">Bejewelled velvet sandals</a></h4>
                                <span> 1 × $49.00	</span>
                            </div>
                            <div class="cart-delete">
                                <a href="#">×</a>
                            </div>
                        </li>
                        <li class="single-product-cart">
                            <div class="cart-img">
                                <a href="#"><img src="/user/assets/images/cart/cart-2.jpg" alt=""></a>
                            </div>
                            <div class="cart-title">
                                <h4><a href="#">Contrast faux fur jacket</a></h4>
                                <span> 1 × $49.00	</span>
                            </div>
                            <div class="cart-delete">
                                <a href="#">×</a>
                            </div>
                        </li>
                    </ul>
                    <div class="cart-total">
                        <h4>Subtotal: <span>$170.00</span></h4>
                    </div>
                    <div class="cart-checkout-btn">
                        <a class="btn-hover cart-btn-style" href="cart.html">view cart</a>
                        <a class="no-mrg btn-hover cart-btn-style" href="checkout.html">checkout</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- aside start -->
        <div class="header-aside-active">
            <div class="header-aside-wrap">
                <a class="aside-close"><i class="dlicon ui-1_simple-remove"></i></a>
                <div class="header-aside-content">
                    <div class="mobile-menu-area">
                        <div class="mobile-search">
                            <form class="search-form" action="#">
                                <input type="text" placeholder="Search entire store…">
                                <button class="button-search"><i class="dlicon ui-1_zoom"></i></button>
                            </form>
                        </div>
                        <div class="mobile-menu-wrap">
                            <!-- mobile menu start -->
                            <div class="mobile-navigation">
                                <!-- mobile menu navigation start -->
                                <nav>
                                    <ul class="mobile-menu">
                                        <li class="menu-item-has-children"><a href="/user/home">Home</a>

                                        </li>
                                        <li class="menu-item-has-children "><a href="/user/shop">Shop</a>
                                        </li>
                                        <li><a href="/user/logout">Log Out </a></li>
                                    </ul>
                                </nav>
                                <!-- mobile menu navigation end -->
                            </div>
                            <!-- mobile menu end -->
                        </div>
                        <div class="mobile-curr-lang-wrap">
                            <div class="single-mobile-curr-lang">
                                <a class="mobile-language-active" href="#">Language <i class="fa fa-angle-down"></i></a>
                                <div class="lang-curr-dropdown lang-dropdown-active">
                                    <ul>
                                        <li><a href="#">English (US)</a></li>
                                        <li><a href="#">English (UK)</a></li>
                                        <li><a href="#">Spanish</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="single-mobile-curr-lang">
                                <a class="mobile-currency-active" href="#">Currency <i class="fa fa-angle-down"></i></a>
                                <div class="lang-curr-dropdown curr-dropdown-active">
                                    <ul>
                                        <li><a href="#">USD</a></li>
                                        <li><a href="#">EUR</a></li>
                                        <li><a href="#">Real</a></li>
                                        <li><a href="#">BDT</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="single-mobile-curr-lang">
                                <a class="mobile-account-active" href="#">My Account <i class="fa fa-angle-down"></i></a>
                                <div class="lang-curr-dropdown account-dropdown-active">
                                    <ul>
                                        <li><a href="#">Login</a></li>
                                        <li><a href="#">Creat Account</a></li>
                                        <li><a href="my-account.html">My Account</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="header-aside-menu">
                        <nav>
                            <ul>
                                <li><a href="/user/myaccount">My Account</a></li>
                                <li><a href="/user/shop">Shop</a></li>
                                <!-- <li><a href="#">Collection</a></li>
                                <li><a href="#">Blog</a></li>
                                <li><a href="#">New Look</a></li> -->
                                <li><a href="/user/logout">Log Out</a></li>
                            </ul>
                        </nav>
                    </div>
                    <img src="/user/assets/images/icon-img/payments.png" alt="payment">
                    <p>Pellentesque mollis nec orci id tincidunt. Sed mollis risus eu nisi aliquet, sit amet fermentum justo dapibus.</p>
                    <div class="aside-contact-info">
                        <ul>
                            <li><i class="dlicon ui-2_time-clock"></i>Monday - Friday: 9:00 - 19:00</li>
                            <li><i class="dlicon ui-1_email-84"></i>Info@la-studioweb.com</li>
                            <li><i class="dlicon tech-2_rotate"></i>(+55) 254. 254. 254</li>
                            <li><i class="dlicon ui-1_home-minimal"></i>Helios Tower 75 Tam Trinh Hoang - Ha Noi - Viet Nam</li>
                        </ul>
                    </div>
                    <div class="social-icon-style mb-25">
                        <a class="facebook" href="#"><i class="fa fa-facebook"></i></a>
                        <a class="twitter" href="#"><i class="fa fa-twitter"></i></a>
                        <a class="google-plus" href="#"><i class="fa fa-google-plus"></i></a>
                        <a class="behance" href="#"><i class="fa fa-behance"></i></a>
                    </div>
                    <div class="copyright">
                        <p>© 2021 <a href="https://hasthemes.com/">Toro.</a> All rights reserved</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="breadcrumb-area section-padding-1 bg-gray breadcrumb-ptb-1">
            <div class="container-fluid">
                <div class="breadcrumb-content text-center">
                    <div class="breadcrumb-title">
                        <h2>Order detail</h2>
                        <ul>
                            <li>
                                <a href="/user/home">Home </a>
                            </li>
                            <li><span> &gt; </span></li>
                            <li>
                                <a href="/user/myaccount">My Account </a>
                            </li>
                            <li><span> &gt; </span></li>
                            <li class="active"> Order Details </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- cart start -->
        <div class="button-container">
            <% if (order.paymentStatus === "Failed") { %>
                <button
                    style="background-color: black;
                    border-color: black;"
                    id="retry-payment-btn"
                    class="btn btn-primary"
                    onclick="retryPayment('<%= order._id %>')"
                >
                    Retry Payment
                </button>
            <% } %>
        
            <% if (order.status === "Delivered") { %>
                <button
                    onclick="downloadInvoice('<%= order._id %>')"
                    class="btn btn-primary download-invoice-btn"
                >
                    Download Invoice
                </button>
            <% } %>
        </div>
          
        <div class="cart-main-area pt-90 pb-100">
            <div class="container">
                <p>Details of Order ID : #<%= order._id%></p>
                <p>Order Date : <%= order.orderDate.toLocaleString() %> </p>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                        <form action="#">
                            <div class="row">
                                <div class="col-lg-8">
                                    <div class="table-content table-responsive cart-table-content">
                                        <table>
                                            <thead>
                                                <tr>
                                                    <th>Customer</th>
                                                    <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                                                    <th> Order info</th>
                                                    <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                                                    <th>Deliver to</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <h5><%= order.billingDetails.name %></h5>
                                                        <h5><%= order.billingDetails.phone %></h5>
                                                        
                                                    </td>
                                                    <td></td>
                                                    <td>
                                                        <h5>Shipping: Fargo express</h5>
                                                        <h5>Payment Method: <%=order.paymentMethod%></h5>
                                                    </td>
                                                    <td></td>
                                                    <td>
                                                        <div class="billing-details">
                                                            <h5><%= details.name %></h5>
                                                            <h5><%= details.phone %></h5>
                                                            <h5><%= details.address %>, <%= details.city %>, <%= details.state %>, <%= details.country %>, <%= details.pincode %></h5>
                                                        </div>
                                                        
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                        <form action="#">
                            <div class="row">
                                <div class="col-lg-8">
                                    <div class="table-content table-responsive cart-table-content">
                                        <table>
                                            <thead>
                                                <tr>
                                                    <th></th>
                                                    <th>Product</th>
                                                    <th> Price</th>
                                                    <th>Quantity</th>
                                                    <th>total</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% order.items.forEach((item) => { %>
                                                    <tr>
                                                        <td class="default-img product-img-size">
                                                            <img src="/uploads/<%= item.product.images[0] %>" alt="" class="thumbnail-img">
                                                        </td>
                                                        <td class="product-name"><%= item.product.title %></td>
                                                        <td class="product-price"><span class="amount"><%= item.price %></span></td>
                                                        <td class="cart-quality"><span><%= item.quantity %></span></td>
                                                        <td class="product-total"><span><%= item.price * item.quantity %></span></td>
                                                        <% if (item.productStatus === 'Pending' || item.productStatus === 'Shipped') { %>
                                                            <td class="product-action">
                                                                <button class="btn btn-danger btn-sm cancel-btn" 
                                                                        data-order-id="<%= order._id %>" 
                                                                        data-item-id="<%= item._id %>">
                                                                    Cancel
                                                                </button>
                                                            </td>
                                                        <% } else if (item.productStatus === 'Delivered' && new Date()< order.returnDate ) { %>
                                                            <td class="return-action">
                                                                <button class="btn btn-success btn-sm return-btn" 
                                                                        data-order-id="<%= order._id %>" 
                                                                        data-item-id="<%= item._id %>">
                                                                    Return
                                                                </button>
                                                            </td>
                                                        <% } else if (item.productStatus === 'Cancelled') { %>
                                                            <td class="cancel-status">
                                                                <span class="text-danger">Cancelled</span>
                                                            </td>
                                                        <% } else if (item.productStatus === 'Returned') { %>
                                                            <td class="return-status">
                                                                <span class="text-info">Returned</span>
                                                            </td>
                                                        <% } else { %>
                                                            <td class="unknown-status">
                                                                <span class="text-success">Delivered</span>
                                                            </td>
                                                        <% } %>
                                                        
                                                                                                                 
                                                        
                                                    </tr>
                                                <% }) %>
                                            </tbody>
                                            
                                        </table>
                                    </div>
                                    
                                </div>
                                <div class="col-lg-4">
                                    <div class="grand-total-wrap">
                                        <h4>Bill Totals</h4>
                                        <div class="grand-total-content">
                                            <ul>
                                                <li>Subtotal <span> <%= order.totalPrice.toFixed(2) %></span></li>
                                                <li>Discount <span><%= order.discount %></span> </li>
                                                <li>Total <span><%= order.totalPrice.toFixed(2)  %></span> </li>
                                            </ul>
                                        </div>
                                        <div class="grand-btn">
                                            <a href="/user/myaccount">Back to account</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- cart end -->
        <footer class="footer-area section-padding-1 border-top-3">
            <div class="container-fluid">
                <div class="footer-top pt-100 pb-60">
                    <div class="row">
                        <div class="footer-column footer-width-24">
                            <div class="footer-widget footer-about mb-30">
                                <a href="index.html">
                                    <img src="/user/assets/images/logo/logo.png" alt="logo">
                                </a>
                                <p>Lorem ipsum dolor sit amet, magna habemus ius ad, qui minimum voluptar</p>
                                <div class="social-icon-style-2 social-icon-hm4">
                                    <a class="facebook" href="#"><i class="fa fa-facebook"></i></a>
                                    <a class="twitter" href="#"><i class="fa fa-twitter"></i></a>
                                    <a class="youtube" href="#"><i class="fa fa-youtube"></i></a>
                                    <a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="footer-column footer-width-12">
                            <div class="footer-widget footer-info-list-2 mb-30">
                                <h3 class="footer-title">Company Link</h3>
                                <ul>
                                    <li><a href="#">About Us</a></li>
                                    <li><a href="#">Help Center</a></li>
                                    <li><a href="#">Our Team</a></li>
                                    <li><a href="#">Privacy Policy</a></li>
                                    <li><a href="#">The Blog</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="footer-column footer-width-14">
                            <div class="footer-widget footer-info-list-2 mb-30">
                                <h3 class="footer-title">Userful Link</h3>
                                <ul>
                                    <li><a href="#">Guides & Articles</a></li>
                                    <li><a href="#">Customer Reviews</a></li>
                                    <li><a href="#">Coupon Codes</a></li>
                                    <li><a href="#">Military Discount</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="footer-column footer-width-19">
                            <div class="footer-widget footer-info-list-2 footer-contect mb-30">
                                <h3 class="footer-title">Contact info</h3>
                                <ul>
                                    <li><i class="dlicon ui-2_time-clock"></i> Monday - Friday: 9:00 - 19:00</li>
                                    <li><i class="dlicon ui-1_email-83"></i> info@example.com</li>
                                    <li><i class="dlicon tech-2_rotate"></i> (+612) 2531 5600</li>
                                    <li><i class="dlicon ui-1_home-simple"></i> PO Box 1622 Colins Street West Victoria 8077 Australia</li>
                                </ul>
                            </div>
                        </div>
                        <div class="footer-column footer-width-29 mb-30">
                            <div class="contact-page-map">
                                <div id="contact-map">
                                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3151.838709675939!2d144.95320007668528!3d-37.817246734238516!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad65d4dd5a05d97%3A0x3e64f855a564844d!2s121%20King%20St%2C%20Melbourne%20VIC%203000%2C%20Australia!5e0!3m2!1sen!2sus!4v1670477011653!5m2!1sen!2sus" style="border:0;width:100%;height:100%;" allowfullscreen="" loading="lazy"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-botoom">
                    <div class="row">
                        <div class="col-12">
                            <div class="copyright-2 text-center">
                                <p>© 2021 <a href="https://hasthemes.com/">Toro.</a> All rights reserved.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <div class="support-lists">
            <ul>
                <li><a href="#"><i class="dlicon ui-3_chat-46"></i></a></li>
                <li><a href="#"><i class=" dlicon ui-3_phone"></i></a></li>
                <li><a href="#"><i class="dlicon ui-1_email-85"></i></a></li>
            </ul>
        </div>
       
    </div>

    <!-- All JS is here
============================================ -->

    <!-- Modernizer JS -->
    <script src="/user/assets/js/vendor/modernizr-3.11.7.min.js"></script>
    <!-- jquery -->
    <script src="/user/assets/js/vendor/jquery-v3.6.0.min.js"></script>
    <!-- Popper JS -->
    <script src="/user/assets/js/vendor/popper.js"></script>
    <!-- Bootstrap JS -->
    <script src="/user/assets/js/vendor/bootstrap.min.js"></script>
    <script src="/user/assets/js/plugins/owl-carousel.js"></script>
    <script src="/user/assets/js/plugins/slick.js"></script>
    <script src="/user/assets/js/plugins/jarallax.min.js"></script>
    <script src="/user/assets/js/plugins/countdown.js"></script>
    <script src="/user/assets/js/plugins/magnific-popup.js"></script>
    <script src="/user/assets/js/plugins/instafeed.js"></script>
    <script src="/user/assets/js/plugins/tilt.js"></script>
    <script src="/user/assets/js/plugins/images-loaded.js"></script>
    <script src="/user/assets/js/plugins/isotope.js"></script>
    <script src="/user/assets/js/plugins/scrolloverflow-fullpage.js"></script>
    <script src="/user/assets/js/plugins/fullpage.js"></script>
    <script src="/user/assets/js/plugins/jquery-ui.js"></script>
    <script src="/user/assets/js/plugins/jquery-ui-touch-punch.js"></script>
    <script src="/user/assets/js/plugins/easyzoom.js"></script>
    <script src="/user/assets/js/plugins/resizesensor.js"></script>
    <script src="/user/assets/js/plugins/sticky-sidebar.js"></script>
    <script src="/user/assets/js/plugins/scrollup.js"></script>
    <script src="/user/assets/js/plugins/select2.min.js"></script>
    <script src="/user/assets/js/plugins/cookie.js"></script>
    <script src="/user/assets/js/plugins/bpopup.js"></script>
    <script src="/user/assets/js/plugins/wow.js"></script>
    <script src="/user/assets/js/plugins/ajax-mail.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>

    <!-- Main JS -->
    <script src="/user/assets/js/main.js"></script>

    <script>

async function retryPayment(orderId) {
    try {
        const response = await fetch(`/user/orderdetail/${orderId}/retrypayment`, {
            method: "POST",
            headers: { "Content-Type": "application/json" },
        });

        const data = await response.json();

        if (!data.success) {
            Swal.fire({
                icon: "error",
                title: "Retry Payment Failed",
                text: "Unable to retry payment. Please try again later.",
            });
            return;
        }

        const options = {
            key: data.key, 
            amount: data.amount, 
            currency: data.currency, 
            name: "PFume", 
            description: "Retry Payment for Order",
            order_id: data.razorpayOrderId, 
            handler: async function (response) {
                try {
                    const verifyResponse = await fetch(`/user/orderdetail/${orderId}/verifyretrypayment`, {
                        method: "POST",
                        headers: { "Content-Type": "application/json" },
                        body: JSON.stringify({
                            razorpayPaymentId: response.razorpay_payment_id,
                            razorpayOrderId: response.razorpay_order_id,
                            razorpaySignature: response.razorpay_signature,
                        }),
                    });

                    const verifyData = await verifyResponse.json();

                    if (verifyData.success) {
                        Swal.fire({
                            icon: "success",
                            title: "Payment Verified",
                            text: "Your payment has been successfully verified!",
                        }).then(() => {
                            window.location.reload(); 
                        });
                    } else {
                        Swal.fire({
                            icon: "error",
                            title: "Payment Verification Failed",
                            text: "We could not verify your payment. Please contact support.",
                        });
                    }
                } catch (error) {
                    console.error("Payment Verification Error:", error);
                    Swal.fire({
                        icon: "error",
                        title: "Verification Error",
                        text: "Something went wrong while verifying payment. Please try again.",
                    });
                }
            },
            prefill: {
                name: data.prefill.name, 
                email: data.prefill.email,
                contact: data.prefill.contact,
            },
            theme: {
                color: "#3399cc", 
            },
        };

        const rzp = new Razorpay(options);

        rzp.open();

        rzp.on("payment.failed", function (response) {
            Swal.fire({
                icon: "error",
                title: "Payment Failed",
                text: "Payment was not successful. Please try again.",
            });
        });
    } catch (error) {
        console.error("Retry Payment Error:", error);
        Swal.fire({
            icon: "error",
            title: "Something went wrong",
            text: "Unable to initiate Razorpay. Please try again.",
        });
    }
}


const downloadInvoice = (orderId) => {
        window.location.href = `/user/orderdetail/${orderId}/invoice`;
    };

        document.addEventListener('DOMContentLoaded', function () {
    document.querySelectorAll('.cancel-btn').forEach(button => {
        button.addEventListener('click', function (event) {
            event.preventDefault();
            const orderId = this.getAttribute('data-order-id');
            const itemId = this.getAttribute('data-item-id');

            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, cancel it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    fetch(`/user/cancelproduct/${orderId}/${itemId}`, {
                        method: 'PATCH',
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    })
                        .then(response => response.json())
                        .then(data => {
                            if (data.success) {
                                Swal.fire('Cancelled!', 'The product has been cancelled.', 'success');
                                location.reload(); 
                            } else {
                                Swal.fire('Error!', data.message || 'Failed to cancel product.', 'error');
                            }
                        })
                        .catch(error => {
                            console.error('Error cancelling product:', error);
                            Swal.fire('Error!', 'An error occurred.', 'error');
                        });
                }
            });
        });
    });

    document.querySelectorAll('.return-btn').forEach(button => {
        button.addEventListener('click', function (event) {
            event.preventDefault();
            const orderId = this.getAttribute('data-order-id');
            const itemId = this.getAttribute('data-item-id');
            console.log(orderId);
            
            Swal.fire({
                title: 'Confirm Return',
                text: 'Are you sure you want to return this product?',
                icon: 'question',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, return it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    fetch(`/user/returnorderitem/${orderId}/${itemId}`, {
                        method: 'PATCH',
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    })
                        .then(response => response.json())
                        .then(data => {
                            if (data.success) {
                                Swal.fire('Returned!', 'The product has been returned.', 'success');
                                location.reload(); 
                            } else {
                                Swal.fire('Error!', data.message || 'Failed to return product.', 'error');
                            }
                        })
                        .catch(error => {
                            console.error('Error returning product:', error);
                            Swal.fire('Error!', 'An error occurred.', 'error');
                        });
                }
            });
        });
    });
});


    </script>
    
    
    
</body>


<!-- Mirrored from template.hasthemes.com/toro/toro/cart.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 09 Feb 2024 11:20:00 GMT -->
</html>